<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FootBall Pole</title>
</head>
<body>
    <header>
        <h1><a href="{% url 'home' %}">Football fields</a></h1>
    </header>
    <div class="nav-right">
        <button type="button" class="btn btn-success"><a href="{% url 'field_new' %}">Add new Field</a></button>
    </div>
    {% if user.is_authenticated %}
    <p>Hi {{ user.username }}!</p>
    <button>
        <p><a href="{% url 'logout' %}">Log out</a></p>
    </button> {% else %}
    <p>You are not logged in.</p>
    <button><a href="{% url 'login' %}">Log In</a></button>
    <p>If you have not account.</p>
    <a href="{% url 'signup' %}">Sign Up</a> {% endif %} 

    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-6 offset-md-2">
                {% block content %}
                    There is no any content for you
                {% endblock %}
                {% if is_paginated %}
                <nav aria-label="..." class="mt-3">
                    <ul class="pagination">
                    <li class=" page-item {% if not previus_url %}disabled {% endif %}">
                        <a class="page-link" href="{{ previus_url }}" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                
                    {% for n in page_object.paginator.page_range %}
                        {% if page_object.number == n %}
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="?page={{n}}">{{n}}
                                        <span class="sr-only">(current)</span>
                                    </a>
                            {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ n }}">
                                                {{n}}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li class=" page-item {% if not next_url %}disabled {% endif %}">
                        <a class="page-link" href="{{ next_url }}" tabindex="-1" aria-disabled="true">next</a>
                    </li>
                    </ul>
                </nav>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>

